.section {
    padding: 1em 0;
}
.section__top10-films {
    width: 90%;
    margin: 0 auto;
}

.top10-films__h2 {
    color: white;
}

.top10-films__ul {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top10-films__li {
    width: 20%;
}

.film-container {
    position: relative;
  }
  
.film-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 1em;
    display: none;
}
  
.film-container:hover .film-title {
    display: block;
}

.item__img {
    transition: transform 0.3s;
}

.item__img:hover {
    filter: grayscale(100%);
}

.item__img:hover {
    transform:  scale(1.2);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .top10-films__li {
        width: calc(100%);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top10-films__li {
        width: calc(50% - 1em);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .top10-films__li {
        width: calc(20% - 1em);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}