<header>
    <nav class="header__nav nav">
        <div class="nav__container container">
            <div class="nav-menu">
                <a href="#" class="nav__a a">
                    <img src="assets/images/LOGO/logo.png" alt="Logo">
                </a>
                <ul class="nav-menu__ul ul">
                    <li class="nav-menu__li li"><a href="#" class="nav-menu__a nav-menu__a--active a">Home</a></li>
                    <li class="nav-menu__li li"><a href="#" class="nav-menu__a a">Series</a></li>
                    <li class="nav-menu__li li"><a href="#" class="nav-menu__a a">Film</a></li>
                    <li class="nav-menu__li li"><a href="#" class="nav-menu__a a">New & Popular</a></li>
                    <li class="nav-menu__li li"><a href="#" class="nav-menu__a a">My List</a></li>
                </ul>
            </div>
            <div class="nav-profile">
                <ul class="nav-profile__ul ul">
                    <li class="nav-profile__li li"><a href="#" class="nav-profile__a a">Home</a></li>
                    <li class="nav-profile__li li"><a href="#" class="nav-profile__a a">Home</a></li>
                    <li class="nav-profile__li li"><a href="#" class="nav-profile__a a">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

