nav {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu__ul, .nav-profile__ul {
    display: flex;
    padding: 0 2em;
}

.nav-menu__li, .nav-profile__li {
    padding: 0 1em;
}

.nav-menu__a, .nav-profile__a {
    color: white;
}

.nav-menu__a--active {
    font-weight: bold;
}

.nav-menu__a:hover {
    text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav__container {
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .nav-menu,  .nav__container {
        flex-direction: column;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}