<header>
    <nav class="header__nav nav">
        <div class="nav__container container">
            <a href="#" class="nav__a a">
                <img src="assets/images/LOGO/logo.png" alt="Logo">
            </a>
            <ul class="nav-menu__ul ul">
                <li class="nav-menu__li li"><a href="#" class="nav-menu__a a">Inicio</a></li>
                <li class="nav-menu__li li"><a href="#" class="nav-menu__a a">Buscar</a></li>
            </ul>
        </div>
    </nav>
</header>

